body {
    background-color: rgb(241, 241, 233);
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}